:root{
    font-size:32px;
    --background-dark:#1e1e1e;
    --background-light:#e2e2e2;
    --intermediate:#333333;
    --font-dark:#1e1e1e;
    --font-light:#e2e2e2;
    --highlight:orangered;
    --circle-size:60vw;
    --font-big:2rem;
    --font-medium:1.5rem;
    --font-small:0.5rem;
    --padding-big:7vw;
    --padding-medium:3vw;
    --padding-small:5vw;
    --margin-small:1vw;
    --nav-btn-size:6vw;
    --shadow-small:0 0 30px var(--highlight);
    --shadow-medium:0 0 40px var(--highlight);
    --shadow-big:0 0 50px var(--highlight);
    --card-height:auto;
    --card-width:45vw;
    --card-border-radius:5vw;
    --article-size:90vw;
    --sphere-size:50vw;
    --title-offset:10vw;    
 }   

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition:none;
}

*:focus,
*:focus-visible {
    outline: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body{
    background-color:var(--background-dark);
    color:var(--font-light);
}

.hidden{
    display:none;
}

/*.nav-btn{
    position:absolute;
    top:2vw;
    right:1vw;
    height:2vw;
    width:2vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background:var(--highlight);
    border-radius: 10%;
}

.dark-btn{
    position:absolute;
    top:2vw;
    right:4vw;
    height:2vw;
    width:2vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background:var(--highlight);
    border-radius: 10%;
}*/

#main-nav{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

#main-nav a{
    padding:var(--padding-small);
    margin:var(--padding-small);
    color:var(--font-light);
    border:1px solid var(--intermediate);
    border-radius: 50%;
    text-align: center;
    width: var(--nav-btn-size);
    height: var(--nav-btn-size);
    box-shadow: var(--shadow-small);
    display: flex;
    justify-content: center;
    align-items: center;
}

#back span{
    position:relative;
    top:-0.5vw;
    font-size:var(--font-big);  
}

#home span{
    position:relative;
    top:-0.5vw;
    font-size:var(--font-big);  
}

#main-nav a:active{
    border: 1px solid var(--highlight);
    transform: scale(1.05);
    box-shadow: var(--shadow-big);
}

/* Catalog Styles */

.catalog{
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap:var(--margin-small);
    padding:var(--padding-big);
}

.card-link{
    margin:0;
    border-radius: var(--card-border-radius);    
    width:var(--card-width);
    height:var(--card-height);
    color:inherit;
    width:90vw;
}

.card-link:hover{
    border: 1px solid var(--intermediate);
    box-shadow: var(--shadow-big);
}

.card{
    background:var(--intermediate);
    border-radius: var(--card-border-radius);
    gap:var(--margin-small);
    padding:var(--padding-big);
    width:100%;
    height:100%;
}
.card-img-container{  
    height:100%;
    width:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card-content{
    width:100%;
    display:flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    gap:var(--padding-small);
}

.card-img{
    height:auto;
    width:100%;
    border-radius: var(--card-border-radius);
}

.card h2{
    font-size:var(--font-small);
    text-align: left;

}

.card p{
    font-size:var(--font-small);
    text-align: left;
}
/* Catalog Styles */
/* Article Styles */

.workflows-article{
    width:var(--article-size);
    display:flex;
    flex-direction: column;
    margin:3vw auto;
    padding:var(--padding-big);
    background:var(--intermediate);
    border-radius: var(--card-border-radius);
}

.article-img{
    width:100%;
    height:auto;
    border-radius: var(--card-border-radius);
    margin:1vw 0;
}

.btn{
    width:fit-content;
    margin-top:var(--padding-small);
    padding:0.5vw 1vw;
    background:var(--highlight);
    color:var(--font-light);
    font-size:var(--font-small);
    border:none;
    border-radius: 5vw;
    cursor: pointer;
}

.btn:hover{
    border: 1px solid var(--hightlight);
    box-shadow: 0 0 1vw var(--highlight);
}

.btn:active{
    border: 1px solid var(--highlight);
    box-shadow: var(--shadow-small);
}
/* Article Styles */
/* main-menu */

.main-menu{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:80%;
    margin:0 auto;
    gap:var(--padding-medium);
    padding:var(--padding-small);
}



.sphere{
    width: var(--sphere-size);
    height:var(--sphere-size);
    border-radius: 50%;
    background:var(--intermediate);
    display:flex;
    justify-content: center;
    align-items: center;
    color:var(--font-light);
    font-weight: bold;
    border: 1px solid var(--intermediate);
    box-shadow: var(--shadow-medium);
    margin-top:var(--title-offset);
}

.sphere p{
    font-size:var(--font-big);
    text-align: center;
}

.sphere:hover{
    transform: scale(1.05);
    border: 1px solid var(--intermediate);
    box-shadow: var(--shadow-big);
}

.sphere:active{
    border: 1px solid var(--highlight);
    box-shadow: var(--shadow-big);
}

/* main-menu */
/* media */

@media screen and (min-width: 1024px) {
    
    

    .catalog{
    grid-template-columns: repeat(2, 1fr);

    }
    
    .card{
    font-size:var(--font-small);
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:var(--padding-big);
    width:100%;
    }

    .main-menu{
    flex-direction: row;
    }

    .card-link{
        max-width:var(--card-width);
        max-height:var(--card-height);
    }
    
    :root{
    --background-dark:#1e1e1e;
    --background-light:#e2e2e2;
    --intermediate:#333333;
    --font-dark:#1e1e1e;
    --font-light:#e2e2e2;
    --highlight:orangered;
    --circle-size:20vw;
    --font-big:2rem;
    --font-medium:1.5rem;
    --padding-big:3vw;
    --padding-medium:2vw;
    --padding-small:0.5vw;
    --nav-btn-size:6vw;
    --shadow-small:0 0 10px var(--highlight);
    --shadow-medium:0 0 20px var(--highlight);
    --shadow-big:0 0 30px var(--highlight);
    --card-height:28vw;
    --card-width:45vw;
    --card-border-radius:2vw;
    --article-size:60vw;
    --sphere-size:20vw;
    --title-offset:15vw;
    --font-size:16px;
    }   
    #main-head{
    font-size:var(--font-big);
    position:absolute;
    top:10%;
    }
}
/* media */
/* lightbox */
#lightbox { display: none; position: fixed; inset: 0; z-index: 9999; background: var(--background-light); justify-content: center; align-items: center; } 
#lightbox-img { max-width: 90vw; max-height: 90vh; } 
#lightbox.show { display: flex; } 
.article-img { cursor: zoom-in; } /* lightbox */
#close-btn {
  position: absolute;
  top: 20px;
  right: 30px;

  font-size: 3vw;
  color: white;
  cursor: pointer;
  z-index: 10000;
}

/* lightbox */