*{
  text-align:center;
  background-color:burlywood;
}

.color-selector{
  min-width:300px;
  min-height:300px;
  padding: 8px 12px;
  margin: 8px auto;
  border-radius: 6px;
  border: 1px solid #000;
}

.color-selector input{
  padding: 8px 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;  
}

.color-selector input[type="color"] {
  width: 60px;
  height: 40px;
  padding: 0;
  border: 2px solid #555;
  border-radius: 4px;
  cursor: pointer;
}

body{
  text-align:center;
  background-color:burlywood;
}

table{
  text-align:center;
  background-color:burlywood;
}

ul{
  list-style:none;
  padding:inherit;
  margin:inherit;
  outline: 2px solid black;
}

li{
  padding:10px;
  margin:inherit;
  background-color:burlywood;
  outline: 2px solid black;
  outline-offset: 0px; /* optional spacing */

}

.linear-gradient{
  background: linear-gradient(to right, red, yellow);
  height: 40vh;
}

.todo-list{
  background-color:beige;
}

.panel{
  background-color:beige;
  padding:20px;
  margin:20px;
}

a{
 text-decoration:none; 
}

a:link{
  text-decoration:none;
  color:blue;
  font-size:15px;
}

a:visited{
color:purple;
text-decoration:line-through;
}

a:hover{
font-size:18px;
color:red;
text-decoration:underline;
}

a:focus{
  outline:red;
}

a:active{
  color:pink;
}

.main-header{
  background:black;
  padding:20px;
  color:white;
  font-size: 30px;
}

.main-nav{
    display:flex;
    justify-content:space-around;
}

.main-nav a{
    color:white;
    text-decoration:none;
    font-size:20px;
    padding:10px;
}

a:hover{
    color:pink;
    text-decoration:underline;
    padding:15px;
}

.blog-post-card{
  background:white;
  border-radius: 5vh;
  width:80%;
  text-align:center;
  height:80%;
  margin-left:10%;
  margin-right:10%;
}

.post-img{
  width:100%;
  border-bottom:5px solid black;
  border-radius:5vh;
}

.post-content{
  padding:20px;
}

.post-title{
  color:navy;
  margin:10px;
}

.post-excerpt{
  color:navy;
  margin:10px;
}

.read-more{
  color:navy;
  background:grey;
  margin:10px;
  padding:5%;
  border-radius:2vh;
  display:inline-block;
}

.read-more:hover{
  background:pink;
  padding:7%;
}